* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d1d1d1;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  background-color: #a1866f;
  height: 120px;
  align-items: center;
  border-bottom: 10px solid #c9ab90;
}

.header-li {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  background-color: #a1866f;
}

.header-ul .header-ahref {
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* Use Grid for the main layout */
.mainDiv {
  display: grid;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

/* Responsive Grid Columns */
@media (max-width: 600px) {
  .mainDiv {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .mainDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .mainDiv {
    grid-template-columns: repeat(4, 1fr);
  }
}
